{{> header }}
  <main id="main">
    <section id="hero">
      <div class="h-500 w-100p">
        <div class="col-sm-5 home-hero-text-area">
          <h1>{{ page.metadata.hero_headline }}</h1>
          <hr style="border-bottom: 1px solid #efefef"/>
          <p class="font-18">{{ page.metadata.hero_subheadline }}</p>
        </div>
        <div class="col-sm-7 h-500" style="background-image: url({{ page.metadata.hero.imgix_url }}?w=600); background-size: cover; background-position: center;">
        </div>
      </div>
    </section>
    <section id="headlines" class="pt-40 pb-40 text-center">
      <div>
        <h2 class="text-primary font-40">
          {{ page.metafield.headline.value }}
        </h2>
        <div class="font-20">
          {{ page.metafield.subheadline.value }}
        </div>
      </div>
    </section>
    <section id="blurbs" class="pt-40">
      <div>
        {{# page.metafield.blurbs.children }}
          <a href="{{ children.2.value }}">
            <div class="col-sm-4 text-center">
              <div class="mb-20 font-26">{{ value }}</div>
              <div class="mb-20">
                <div class="w-300 h-300 img-circle center-block" style="background-image: url({{ children.0.imgix_url }}?w=600); background-size: cover; background-position: center;"></div>
              </div>
              <div class="mb-20 font-16 p-15 text-left" style="color: #333">{{ children.1.value }}</div>
            </div>
          </a>
        {{/ page.metafield.blurbs.children }}
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </section>
    <section id="cta" class="pt-40 pb-40 text-center">
      <h2 class="text-primary font-40">
        {{ page.metafield.call_to_action_text.value }}
      </h2>
      <div class="font-20 mb-20">
        {{ page.metafield.call_to_action_subtext.value }}
      </div>
      <div class="font-20">
        <a class="btn btn-default btn-lg" href="{{ page.metafield.call_to_action_button_link.value }}">
          {{ page.metafield.call_to_action_button_text.value }}
        </a>
      </div>
    </section>
  </main>
{{> footer }}